[2017-12-27 17:06] ro0NL opened #1 "Add object relations to entities"
`App\Entity\User::getRoles`, `App\Entity\User::getSecondaryEmails` etc. with corresponding annotation mapping.

decide the return type :') `getRoles(): Doctrine\Collection` vs `getRoles(): MsgPhp\EntityCollectionInterface`

[2017-12-27 19:29] ro0NL opened #3 "Add 2FA (two-factor authentication)"
guess im waiting for https://github.com/scheb/two-factor-bundle/issues/73 as my last experience with the bundle was a hassle.

[2017-12-28 21:42] #1 closed

[2018-01-29 00:47] crabnky opened #8 "Symfony 4 with MS SQL server"
Hi,

I'm working on Symfony 4 with MS SQL server. I'm trying to use your user bundle, but I'm getting the fillowing excepions when I try to log in with email existing in the database:

[code]

[code]
There is no error when I try to log in with wrong email - I can see a "bad credentials" message.
Any thoughts? Is this related to the database engine I use?
Many thanks for any help.

[2018-01-29 07:49] ro0NL commented on #8
Hi @crabnky!,

I think it's indeed related to the DB engine; first time i've seen this. No real experience with MSSQL so the query looks a bit magic to me. At this point i've no idea what doctrine does with it :)

However from the error it seems the type (`PDO::PARAM_STR`) is conflicting with our VO model `UserId`, which is only string-ish (`__toString`).

Ill try to debug with MySQL, to see if it

[2018-01-29 07:56] ro0NL commented on #8
Related to https://github.com/ramsey/uuid-doctrine/issues/18 perhaps

[2018-01-29 08:45] ro0NL commented on #8
@crabnky can you try this patch https://patch-diff.githubusercontent.com/raw/msgphp/msgphp/pull/55.diff

Fixes a bunch of issues on my side related to WHERE clauses.

[2018-01-29 09:56] ro0NL opened #9 "Add material design"
After after all controllers are backported from #7 let's make the default layout a bit more fancy. For demo purposes of course :angel:

https://mdbootstrap.com/ + sf bootstrap form templates

Basically https://msgphp.github.io/ with a different primary color.

[2018-01-29 11:40] crabnky commented on #8
Thank you MUCH ro0NL!
The patch did the trick - all is working fine now! 😄

[2018-01-29 11:48] ro0NL commented on #8
@crabnky github auto-closed :) ive merged the patch upstream. Thus currently dev-master for all packages  fixes it. Expect patch tag release soon-ish.

[2018-01-29 12:04] crabnky commented on #8
Thanks, but my joy was probably to soon - I can't test this now for good, but the patch fixed the issue for integer identity. When I switched to uuid I can see this again :|

[2018-01-29 12:09] ro0NL commented on #8
Hm. could you share you doctrine config? The connection/MSSQL related part.

Im pulling in an image right now to see if i can reproduce. The error is the same-ish with UUID? Could you share a new trace to be sure :)

[2018-01-29 14:02] ro0NL commented on #8
@crabnky im having a bit trouble to setup an env. Espcially getting the pdo driver to work. Let me know if you find something :)

[2018-01-31 11:27] ro0NL opened #10 "Add a User API"
Basically integration with https://github.com/api-platform and perhaps some `User\Infra\Api` infra. Dunno :) will be the first time using API platform for me.

In general goal is to have e.g. `/api/user`  endpoints, including docs.

[2018-02-02 22:35] Evertt commented on #10
Cool idea man! Though I guess the PR that's still open has a higher priority right?

[2018-02-03 07:26] ro0NL commented on #10
@Evertt yes, that is #7 / basic user management. Next would be the multiple user types (https://github.com/msgphp/msgphp/issues/41).

[2018-02-03 07:28] ro0NL opened #12 "Automate screenshots"
Stopped updating those for now as it's real tedious to do :)

Checking out tools to automate web & CLI screenshots.

after #9

[2018-02-05 11:33] crabnky commented on #8
OK, sorry for not beeing active in the topic last days - my daughter had a surgery last week and I'm little busy :) - will work on this in next few days.

[2018-02-08 08:26] ro0NL opened #14 "Setup CI pipeline"
Apply code style / static analysis checks for `src/`

[2018-02-13 14:02] crabnky opened #15 "How to change the default ROLE_USER?"
Hi,
I'm trying to change the default ROLE_USER to something else - for example ROLE_DEFAULT. This is because I'm taking roles from the database and there is ROLE_USER already defined, so logged user has ROLE_USER duplicated. How do I do this?

Thanks!

[2018-02-13 15:03] ro0NL commented on #15
In the default app we get user roles from `App\Security\UserRolesProvider`

https://github.com/msgphp/symfony-demo-app/blob/ee5358a9b16dcb07e83732d555297e213eaf920b/src/Security/UserRolesProvider.php#L18-L25

You can change this as you like :)

We also populate some database roles in https://github.com/msgphp/symfony-demo-app/blob/master/src/DataFixtures/ORM/Users.php#L60

[2018-02-13 16:10] crabnky commented on #15
HUH, how did I miss this?  ❓
Thank you much!

[2018-02-13 16:10] #15 closed

[2018-02-14 11:37] crabnky commented on #8
Hi again.
Sorry once again - I had no time to switch application to use UUID and test, however I just got into the problem again.
I'm working on the user edit form and want to have ability to change roles for the user. So I made some changes to the system. I'm not very experienced in Symfony, so forgive me if my coding is not beautiful. :|

First, I need the additional db table with roles - basica

[2018-02-14 20:06] ro0NL commented on #8
@crabnky im considering `Role` as a first class core entity as well. So it would match your setup by default (`UserRole::__construct(User $user, Role $role)`). Stay tuned for that.

[2018-02-15 09:26] crabnky commented on #8
Thanks for the reply. As I said I'm not a master of Symfony, so please be honest and tell me if my code is a crap. I would be very thankful if you can guide me to the right direction. Unfortunately I cannot show you an application as it does not belong to me.

Here is my UserRole mapping (it's just a connecting table for Users and Roles - many-to-many defined as one-to-many and many-to-one):
[code

[2018-02-15 09:32] ro0NL commented on #8
Ok.. im going to play with your setup in effort to get the exception. Might take some time as im currently working on refactoring here and there, and as said, our `UserRole` moght follow your setup.

First thing i notice from your config is the mapping

[code]

Our class mapping config is intended to specify a _sub class_ of yours. Given that, i think ill update the bundle to validate this.

If yo

[2018-02-15 09:44] crabnky commented on #8
Thanks much!
There is another place with this error - I tried to do a simple pagination for users list - got the same error.
Here is the function:
[code]
When I look into debug I can see the query:
[code]
And runnable query:
[code]
Maybe the reason of the error is that the UserId object is passed as param?

[2018-02-15 10:14] ro0NL commented on #8
So it seems :confused: i expected a query with something like `IN (2, 8, 5,1)` given the domain id's are stringish (`__toString`).

Can you show the ORM mapping of your `App\Entity\User` as well?
As well as the related code where you built the query / set the parameter...

[2018-02-15 11:58] crabnky commented on #8
Here is my User mapping:
[code]
I use Doctrine paginator (http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/tutorials/pagination.html) to build the query - the function is shown in the post above.

Regarding the user roles table - I would rather use a composite id as well, but this is not my decision. The guy responsible for the database wants to have autoincremented id on every tab

[2018-02-15 13:54] ro0NL commented on #8
@crabnky can you try switching to `PDOSqlsrv`?

perhaps it's related to param handling in `SQLSrv` (https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Driver/SQLSrv/SQLSrvStatement.php#L274), does e.g. `\DateTime` values as a param work?

Can you confirm it works if you pass the string id values instead of the `UserId` values (i still dont see where these come from...). I cant reproduc

[2018-02-16 09:18] crabnky commented on #8
Hmm, I'm already using pdo... here is my docrine config:
[code]

[2018-02-17 15:50] ro0NL commented on #8
In fact i think it's related to `UserId::__toString` / doctrine types, as i actually see the `string("1")` param in your example:

[code]

That needs to be type `int`  from MSSQL perspective i guess, given that would be strict :thinking:

Guess for now UUID's is the way to go? Not sure what we can do.. as the to-int conversion actually happens in the `DoctrineType`.. so perhaps it's bypassed in yo

[2018-02-17 16:06] ro0NL commented on #8
Assuming type name is lost here: https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/Tools/Pagination/Paginator.php#L149

Where https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/Tools/Pagination/Paginator.php#L136 gives an array of `UserId` objects

[2018-02-17 16:21] ro0NL commented on #8
@crabnky now looking into hydration a bit :) Maybe we need  `DomainIdScalarHydrator` or so which translates `DomainId/UserId` to its primitive PHP value. That way you can set the hydration mode before passing the query to the paginator, or use it in your entity repository . Might do it..

[2018-02-18 12:04] ro0NL commented on #8
@crabnky in effot to close; i've merged https://github.com/msgphp/msgphp/pull/84. You can update to `dev-master` for now.

If i understand the issue correctly you have a few options:

- perhaps MSSQL can be tweaked to allow lax clause (`WHERE int_col = "1"`) or let it return int values on fetch. Dunno if that's possible.
- cast beforehand `(int) (string) $userId`
- use our hydrator `$query->getRes

[2018-02-18 15:44] ro0NL opened #16 "Implement LastUpdatedAtField for users"
Enables `User::getLastUpdatedAt` which can be updated after a domain event is successfully handled.

[2018-02-20 09:43] ro0NL opened #17 "Switch to Argon2i hashing"
`security.yaml` - AFAIK SF is ready for it.

[2018-02-21 00:00] crabnky commented on #8
Thanks much, will try. For now I updated to `dev-master` and getting error:
[code]
MSSQL accepts strings in where clause (`WHERE int_col = '1'`) but in single quotes - it doesn't accept double quotes (`WHERE int_col = "1"`) because it treats this as identifier (https://docs.microsoft.com/en-us/sql/t-sql/statements/set-quoted-identifier-transact-sql).

[2018-02-21 09:18] ro0NL commented on #8
Try `composer up msgphp/*` Looks like `msgphp/domain` dep it outdated.

[2018-02-21 09:34] crabnky commented on #8
Already tried. No change.

[2018-02-21 09:57] ro0NL commented on #8
Fixed. Upper bounds were missing in composer.json :)

Should be good now... note you need to override stability for dependent packages:

[code]

[code]

[2018-02-21 15:34] crabnky commented on #8
Thanks for your help @ro0NL I really appreciate this. The error is gone I will check if this solves my problem. I wonder why I can edit and save user without problems and I cannot save user roles. Maybe my application is bad written or so? Huh. :) Have to check this. And I have to check my UserRole entity, as I probably should use/extend your UserRole. The difference is that my Role is not string

[2018-02-21 15:50] ro0NL commented on #8
Expect first class `Role` entity on our side ASAP :) im working towards that.

Really depends.. you are free to roll out your own entities / use doctrine as usual.

By now i think your original issue is truly related to MSSQL / the way doctrine types work. You simply lose the integer type as soon the PHP value is hydrated to `UserId` (it's string-ish from there on). Really not sure what we can do.

[2018-02-27 18:02] ro0NL commented on #17
https://symfony.com/blog/new-in-symfony-4-1-argon2i-configuration

[2018-03-01 17:43] crabnky opened #19 "How can I get the first name of the authenticated user?"
Hello,
My user entity has a first name. How can I get the first name of the authenticated user? For example I want to display `Hello {{ app.user.firstName }}` in twig template. How to play with serialization?
Thanks.

[2018-03-01 17:59] ro0NL commented on #19
Hi :)

By default the concept is to assign a user from your controller, as a template variable. Being either the current user or a known one, or both even :)

This is not yet documented or has a demo, but you have 2 options;

- use the symfony argument resolver: https://github.com/msgphp/msgphp/blob/master/src/User/Infra/Security/UserValueResolver.php
- use doctrine param converter: https://github

[2018-03-02 09:17] crabnky commented on #19
Thanks, tried both ways, but I'm getting null every time. Did I miss something?

[2018-03-03 07:03] ro0NL commented on #19
Well ... are you logged in? :) Do you see the username in the profiler toolbar?

Using null-ability implies you expect either an authenticated user or a guest. If you need to be "logged in", leave out `= null`.

Either way, it should work :) not sure if something broke in the meanwhile. I can try to reproduce soon-ish.

[2018-03-03 07:07] ro0NL commented on #19
When using the param converter annotation you also need `
use Sensio\Bundle\FrameworkExtraBundle\Configuration\ParamConverter;` btw :)

[2018-03-05 12:28] crabnky opened #20 "How to change the user id column?"
Hi again,

Sorry for being so importunate, and may be asking for trivial things. :|
And thank you for your patience.
I came across another issue - I have to rename the `id` column of `users` table to `id_users` (this is a requirement from our database guy) and I wonder how I can do this.

Here is my users table mapping:
[code]
After db column name has changed the login form does not show - I can s

[2018-03-05 12:40] ro0NL commented on #20
See https://github.com/msgphp/msgphp/issues/87 :)

will be fixed in 0.2

[2018-03-05 12:49] crabnky commented on #20
OK, I see, thanks. When do you expect version 0.2 will be released?

[2018-03-05 12:50] ro0NL commented on #20
aiming for next week :)

[2018-03-05 12:57] crabnky commented on #20
OK, thanks much. So will add some temprorary solution and wait :)

[2018-03-05 17:09] crabnky commented on #19
Heh, I'm logged in. :)))
I had a mistake in annotation, but now when I use param converter I see `Invalid option(s) passed to @ParamConverter: current`, still got null when using argument resolver.
When I add
[code]
to services, the param converter error is not present (even if I add the param converter annotation), but still got null.

[2018-03-06 13:28] crabnky commented on #8
OK, the one thing I can't understand - why in some queries the id is taken properly and in some not. For example I can log in and retrieve the roles - I can see the queries in the profiler:
[code]
It seems like to the query above the string was passed as id instead of UserId object:
[code]
In my understanding I would not be able to execute any user-related query if this is a doctrine issue.
More -

[2018-03-06 17:30] ro0NL commented on #19
@crabnky we got it wrong :) see https://github.com/sensiolabs/SensioFrameworkExtraBundle/issues/564

basically the correct annotation would be `@ParamConverter("currentUser", options={"current": true})` (leave out `class`).

[2018-03-06 17:46] ro0NL commented on #19
See also https://github.com/msgphp/msgphp/pull/99/files for how to do it in 0.2, much better IMHO :)

[2018-03-06 18:40] ro0NL commented on #8
I still think this is hydration related. The patch applies when using e.g. `MsgPhp\User\Infra\Doctrine\Repository::find(UserIdInterface $id): User`, thus when working with our repository.

The user id VO object truly needs to be set as query parameter with it's corresponding type name. AFAIK only then Doctrine will call the needed `Type::convertToDatabaseValue`.

Basically your paginator example j

[2018-03-06 18:43] ro0NL commented on #8
So depending on whether the database type / vendor is compatible with what `__toString` returns, things will work out-of-the-box yes/no.

[2018-03-07 11:53] ro0NL commented on #20
See v0.2.0

[2018-03-07 11:53] #20 closed

[2018-03-07 11:54] ro0NL commented on #19
@crabnky  can we close?

[2018-03-07 22:20] ro0NL commented on #8
@crabnky can you try using `@Column(type="integer")` on the identifier field (now available on your side with 0.2.0).

Then for `getId(): UserInterface` create the value object during run-time, e.g. `return UserId::fromValue($this->id)`. That way you use regular hydration i guess, could work :)

[2018-03-08 00:02] crabnky commented on #19
Not sure if this is related, but I noticed the following change:
Here is my sample user edit controller:
[code]
Current behavior is that $user is always a current logged in user. No matter of id in the route.
Before, the $user was a user with corresponding id - so for example for the route `/users/11/edit` the user with id 11 was taken. For now it is a current logged in user. Is this a correct beh

[2018-03-08 16:49] ro0NL commented on #19
Depends. In the demo app i disabled auto conversion: https://github.com/msgphp/symfony-demo-app/blob/master/config/packages/sensio_framework_extra.yaml and always use explicit param converters: https://github.com/msgphp/symfony-demo-app/blob/master/src/Controller/User/ConfirmRegistrationController.php#L16

So without annotation no param converter matches, and thus the argument resolver is used eve

[2018-03-08 20:24] ro0NL commented on #19
@crabnky i made a mistake.. the priority set was bugging. Now gone :) https://github.com/msgphp/user-bundle/commit/42a64e44a4175582cfcb43637f03fc18f0880d36 (dev-master)

If you use doctrine param converters auto mapping by id is preserved (`/users/11/edit`). If you explicitly want the current user, use:

[code]

See also https://github.com/msgphp/symfony-demo-app/commit/66becda49cf43b470d86fa1fcc9

[2018-03-11 16:04] ro0NL opened #24 "Add demo admin interface"
- /admin + ROLE_ADMIN
  - list all users with impersonate link
  - paginated
- nav update for admins

[2018-03-15 19:26] ro0NL commented on #19
@crabnky in twig there's now also `msgphp_user.user` to get the current user, if any, directly.

[2018-03-17 12:15] ro0NL commented on #19
@crabnky i dont think there's much left to do here. Please re-open / raise an issue if you experience anything wrong.

[2018-03-17 12:15] #19 closed

[2018-03-17 15:50] prybus commented on #3
@ro0NL  Great. It's also good to add sms authentication :)

[2018-03-18 09:33] ro0NL opened #27 "Investigate/customize OAuth flow"
After #26 a few questions remain open:

- if a user authenticates using google with email X, but email X already exists on our side i think its password needs to be re-confirmed; claiming the existing account.
- if email X doesnt exists we create it with a random password. In that case i think we need to assign a special `ROLE_OAUTH` or so which we can use to enforce either a password reset or alw

[2018-03-20 08:26] crabnky commented on #19
Thanks much, was few days off the project.

[2018-03-21 09:19] ro0NL commented on #24
After #28 we could do this API first :)

Im thinking https://api-platform.com/docs/admin :D

[2018-03-21 09:21] GawainLynch commented on #24
That one kinda lines up with something else :wink:

[2018-03-21 10:59] ro0NL opened #30 "Add user avatars"
Possible after https://github.com/msgphp/msgphp/issues/107

- abstract underlying filesystem
- api integration
- my account/web integration
- collect profile pictures from oauth
- thumbstyles
- perhaps some CLI infra to rebuild thumbstyles

[2018-03-22 19:06] ro0NL opened #31 "API 1.0 features"
Aiming to merge #28 as POC, thus reading items/collections. After that many topics remain open:

- [x] `GET /api/me` endpoint + JWT integration
- [x] leverage domain to document ID service
- [ ] content / access varying based on role
- [ ] add user resource fields like `{ roles: ['ROLE_X', ...], emails: ['x@y.z', ...] }`
- [ ] `GET /api/users/<id>/attributes` (not sure these need to be embedded)
-

[2018-03-23 09:22] crabnky opened #32 "Error: Attempted to load trait "AttributeValueField"..."
Hi again :)

I just run composer update and now getting this:
[code]
My composer:
[code]
It's just a mistake, or something has changed and I have to make changes to my code?

[2018-03-23 09:31] ro0NL commented on #32
`msgphp/eav: @dev` i guess :) im working on a new release.

[2018-03-23 11:43] crabnky commented on #32
Uh, sorry, my bad. :(
Have to pay attention to configuration as now I can see:
`The path "doctrine.orm.resolve_target_entities.MsgPhp\User\Entity\Username" cannot contain an empty value, but got null.` - now I'm in the middle of other work, so will get back to this later.
Thanks!

[2018-03-24 13:14] DevMDamien commented on #32
Seems missing this in your config:
[code]
[see the config file](https://github.com/msgphp/symfony-demo-app/blob/e2b68f9da3abbcaef1d2be5ef90b5802c272aea1/config/packages/msgphp.php#L24-L26)

[2018-03-24 16:21] ro0NL commented on #32
tagged 0.2.4, should be good now :)

[2018-03-24 20:17] ro0NL opened #33 "Add companienv support"
Looking at https://github.com/sroze/companienv/#rsa-pair-extension i dont think we actually need a `bin/generate-jwt` just `vendor/bin/companienv` :)

[2018-03-25 10:20] #33 closed

[2018-03-25 17:50] #32 closed

[2018-03-25 17:52] ro0NL commented on #32
@crabnky thanks for all your issues :) truly valuable!

[2018-03-25 20:29] ro0NL opened #37 "Reconsider view on domain autoloading"
I know this is controversial.. but i tend to believe writing domain layer definitions (ids, entities, projections, etc.), at least at the app level, could benefit from specialized auto-loading in terms of writing them faster.

Think

[code]

That is multiple classes per component, per file.

[2018-03-26 16:16] ro0NL opened #38 "Move basic app code to maker commands"
I discussed this briefly with @dunglas today, related to https://github.com/symfony/recipes/issues/392

For top experience cloning the demo-app and go from there might not the best choice, allthough the code is easy to customize, remove, etc. Devs are also lazy, making the demo look more complex it actually is (it's super simple in fact :P).

To improve this i was thinking to leverage the new "mak

[2018-03-28 08:20] Evertt opened #39 "Add a docker-compose.yml"
I think it would be nice to have a docker container optimized for this symfony-demo-app that users can just `$ docker-compose up -d` and immediately start working with, don't you think?

Preferably using the most lightweight images possible, using exactly what the app needs and nothing more. Like I read an [article](https://very-serio.us/2018/02/27/zen-minimalism-with-distroless-images/) a few wee

[2018-03-28 08:47] ro0NL commented on #39
Yes, for sure :)

I use this at home https://github.com/ro0NL/workdir for generic purpose. Mostly if we can ease the nginx+ssl+local domain setup that be great.

Currently im also experimenting with Lando (https://github.com/lando/lando)... i tend to believe you can build any stack with it :)

[2018-03-28 13:22] ro0NL commented on #32
@crabnky actually solved in 0.2.7 :} There was indeed an issue with ` trait "AttributeValueField"`

[2018-04-02 21:19] prybus commented on #31
Hello @ro0NL,
when i use Jwt i have error:

 

[2018-04-03 16:24] #38 closed

[2018-04-03 16:45] ro0NL commented on #31
@prybus can you confirm the service is registered at https://github.com/msgphp/user-bundle/blob/master/Resources/config/security.php#L38? Otherwise if anything spiffy is going on.. please create a new issue :) Thx.

[2018-04-04 09:08] prybus opened #41 "security.authentication.provider.dao.api_login dependency on a non-existent"
#31 and comment #issuecomment-378317327
I check and I don't see this class resource:  https://github.com/msgphp/user-bundle/blob/master/Resources/config/security.php#L38 :)

[code]

[2018-04-04 09:37] prybus commented on #41
@ro0NL yes, I have this version jwt.
This is strange because in the catalog, I have this files

[2018-04-05 12:08] prybus commented on #41
@ro0NL this is very strange. I ran this next day and it worked. :)

[2018-04-07 10:31] ro0NL commented on #39
@Evertt any news? By now im leaning to add a `.lando.yml` instead =/

see also https://github.com/ro0NL/symfony-lando

[2018-04-09 01:01] Evertt commented on #39
Yeah let's do that, at least for now. I don't really have the time to dive into the distroless images of google.

[2018-04-10 12:04] crabnky opened #42 "Creating user - returned id is incremented by one"
Hi, it's me again :)

I have an issue when creating new user. After I submit the form, user is created, but the id of the $user object is incremented by one - for example I created user and I can see in the database that new redord has id = 30, but the $user->id is set to 31, and I'm getting error on line with redirect (redirecting to non-existing user).
Here is the controller function:
[code]
Her

[2018-04-10 15:54] ro0NL commented on #42
Can you try

[code]

In your case the ID property value is always the primitive type (int or null), you hydrate it as `UserIdInterface` type from `getId()`.

[2018-04-10 16:09] ro0NL commented on #37
For now not going down this road any time soon.

[2018-04-10 16:09] #37 closed

[2018-04-10 16:34] crabnky commented on #42
Did not help. :(
I'm not sure if this is related to your bundle - it was working fine some time ago, and last time I did not make any changes to the users. Strange.

[2018-04-10 16:37] ro0NL commented on #42
Can you share msgphp config + doctrine orm mapping :)

[2018-04-10 16:39] ro0NL commented on #42
Also perhaps but a `dump($user)` before and after ` $entityManager->flush();` to see if anything unexpected happens with the ID value.

[2018-04-10 23:09] crabnky commented on #42
Here is the dump of user before: `$entityManager->flush();`:
[code]
And after:
[code]
As you can see the id of user after flush is set to 33. The problem is that in the database the id of new user is 32.

The config\packages\msgphp_user.yaml file:
[code]
The xml with doctrine mapping:
[code]
Hope it helps. :)

[2018-04-11 09:26] ro0NL commented on #42
Weird.. i'd say Doctrine/SQL at this point is responsible for the generated ID value =/

Could it be some sequence is corrupt or so on SQL's side?

Does the form mess things up maybe? i.e. the `empty_data` option..

Moreover, you dont really need `data_class' => User::class,`, IMHO it's simpler to do e.g.

[code]

nevertheless it should work i guess :)

[2018-04-11 10:17] crabnky commented on #42
Thanks, this helped - I removed `empty_data` and `data_class` from the form and now it is working.

The nice feature of the previous solution was that I could use `$user = $userForm->getData();` to load all date from the form - now I have to add each property manually (for example: `user->setFirstName($userForm->get('firstName')->getData());`).

Anyway this is strange - and I'am sure it was workin

[2018-04-11 10:33] #39 closed

[2018-04-11 10:49] ro0NL commented on #42
Cool :) separating layers is good yes  :+1:

Moreover, you could simplify things even further, using msgphp code ;)

[code]

Or

[code]

The latter example assumes you know the user id upfront, or is queried separately.

Just showing you various flavors to do things ;)

Can we close? Should we investigate the form issue further, i.e. do we understand what happened :P

[2018-04-11 10:50] ro0NL commented on #42
Also `An entity should be always valid.` should be the law :)

[2018-04-11 11:08] crabnky commented on #42
To be honest I don't understand what is happening - now when adding new user with roles I'm getting error when saving roles:
[code]
and the id of new user is... 37, so now the id used for query is DECREASED by one. WTF? LOL. :)

Not sure if this is related to your code - rather to doctrine or MSSQL server? Not sure, but I think we may close this issue.

[2018-04-11 11:15] ro0NL commented on #42
My first guess it's related to MSSQL, messing up identities. Perhaps related to the `IDENTITY` definition? After reading https://www.databasejournal.com/features/mssql/article.php/3307541/Getting-the-Wrong-Identity-in-Microsoft-SQL-Server-identity-Columns.htm a bit :)

[2018-04-29 08:44] ro0NL commented on #24
From https://medium.com/p/ceeefe2a2e9/info it may be worth checking EasyAdmin also and demo both admin environments (API first / traditional).

https://github.com/EasyCorp/EasyAdminBundle

[2018-04-29 08:49] ro0NL commented on #10
Superseded by #31

[2018-04-29 08:49] #10 closed

[2018-04-29 10:56] kochen commented on #24
Hey @ro0NL,
just my 2cents here, EasyAdmin is a very good solution, but it uses ORM/Crud directly, which would "contradict" a bit the Command Pattern way.
It is possible though to write your own (admin) controllers, but you'll have to do them manually for each and every entity - maybe for an "only user" system/demo is fine...

P.S, you link to Medium requires login (for some unclear reason)

[2018-04-29 11:04] ro0NL commented on #24
@kochen

yeah... totally :") but in theory it should be possible, _simply_ for having those ORM entities. Im curious regarding the out-of-the-box experience.

Agree. For demo purpose that seems reasonable.. although the "default" way seems preferred.

Link updated. Thx.

[2018-04-29 11:41] kochen commented on #24
@ro0NL fair point, if eventually it works out of the box because you have those entities that could be a great benefit.

[2018-04-30 13:55] kochen commented on #24
@ro0NL like this:
![image](https://user-images.githubusercontent.com/106042/39430721-e929f9ba-4c8e-11e8-8da8-a6155ddd8278.png)

[2018-04-30 15:52] ro0NL commented on #24
@kochen sweeet :) can you submit a PR with your progress so far?

[2018-05-01 09:32] kochen commented on #24
@ro0NL done!
we still need to figure out how to make the edit form work.

[2018-05-21 01:13] danaki opened #48 "Question: why controllers do not check for command result?"
An example code from RegisterController:
[code]

If I understand CreateUserCommand() doesn't imply an intermediate result (or throws an Exception?). And even can be handled delayed in asynchronous way, then how to deal with this situation from a web application point of view? Should controller be aware is it setup to be asynchronous or should a client request flash messages repeatedly in a separat

[2018-05-21 01:57] danaki opened #49 "Question: is there any point to use API platform or shouldn't Controller/User/* be built around REST resource then?"
Despite the comprehensive documentation of API platform, it's not too user friendly especially for beginners. I've spend a day to figure out how to make my own custom controllers for some REST resources I had planned. And it appears for my real-life project which is far from no-brainer blog-with-comments web site API platform is just a useless dependency. Because when I build my application around

[2018-05-21 06:31] ro0NL commented on #48
HI @danaki

Your application is either aware a call is made async or sync, i tend to believe this is a design-choice of your app. Typically user registration happens in sync.

On the technical side, yes we can benefit from return values coming from message handlers when we use Symfony Messenger (i never did that though using SimpleBus). I.e.

[code]

Cosmetically we can add return values anyway, t

[2018-05-21 07:00] ro0NL commented on #49
Hi @danaki

I think you underestimate API Platform a bit. The handler is a single piece in a bigger concept, i.e. _hypermedia-driven REST APIs_. Meaning GraphQL, a GUI, end-user documentation, linked data, jsonld, error handling, etc.

The only reason we define a custom delete handler is because we decouple from an ORM, and use a projection layer in between. This needs custom handling one way or a

[2018-05-21 07:24] ro0NL opened #50 "Add Blog domain"
So we can demo a custom domain layer not pre-defined by MsgPHP but fully tied to the application.

Similar to https://medium.com/@ro0NL/domain-driven-design-writing-domain-layers-the-fast-way-60ef87399374

[2018-05-21 10:31] danaki commented on #49
GraphQL, Jsonld etc are not required for demo app as well as Elasticsearch (what is the added value?).

API platform allows you to skip repetitive task of building controllers around REST resource going straight from routing to entities. It's common for simple CRUDs and convenient for internal (micro)services, but in some cases it's too much hurdle to overcome. For example your registration/forgot

[2018-05-22 11:03] ro0NL commented on #49
showing different flavor of doing things. Sure it's less approachable / more complex. But my personal goal is to built an app that scales, and this is my way of sharing :)

If you don't need Elasticsearch etc. that should be easy to strip out. It's not a MsgPHP requirement for sure. In that sense the demo app is based on my own requirements, yes. The issue is a lack a source of documentation to cl

[2018-05-22 11:21] danaki commented on #49
Keep going, you're doing a great job!

[2018-05-22 11:21] #49 closed

[2018-05-25 06:54] ro0NL commented on #48
Assuming we can close but feel free to re-open :)

[2018-05-25 06:54] #48 closed

[2018-05-28 16:06] ro0NL commented on #42
Closing for now. Feel free to re-open with more info :)

[2018-05-28 16:06] #42 closed

[2018-07-03 16:36] prybus commented on #41
Hello @ro0NL ,

In your demo project, you use UserProviderWithPayloadSupportsInterface which does not exist in new JWT... where only PayloadAwareUserProviderInterface exist.

Therefore, when I run

an error occurs.

[2018-07-03 16:41] ro0NL commented on #41
Well ... the composer constraint is defined as such ;)

https://github.com/msgphp/symfony-demo-app/blob/master/composer.json#L10

The interface was added in master (2.5@dev) at the time.

The good news is 2.5 was released just recently, so i'll update this ASAP. Also they changed the interface already :sweat_smile: https://github.com/lexik/LexikJWTAuthenticationBundle/commit/de7b2635de06f2621866fd

[2018-07-04 05:34] ro0NL commented on #41
See https://github.com/msgphp/msgphp/pull/163

[2018-07-04 08:35] #41 closed

[2018-07-09 14:57] ro0NL opened #54 "Add custom form login using Guard"
traditional form login is bound to username/password. Let's say we want a custom login in the future based on username, password and some other field. Using a custom guard this would be easy (as it scales), compared to refactoring form_login to guard.

We can also do both "for demo purposes":

- `/login`
- `/login-special` ? we need a use case for this (some 3rd field, next to email/password)

Oth

[2018-07-09 19:25] ro0NL opened #55 "make:user should not overwrite existing files"
current default is to write all skeleton files at once, better is to write only new files at once. Then always ask for the remaining left.

[2018-07-09 19:26] #55 closed, assigned to nobody

[2018-07-18 14:14] ro0NL opened #56 "Separate Oauth registration from regular flow"
https://github.com/msgphp/symfony-demo-app/blob/master/src/Security/OauthUserProvider.php#L59

after connecting with oauth a regular `CreateUserCommand` is dispatched:

https://github.com/msgphp/symfony-demo-app/blob/22484ca051129340c0ff94e5f1d6479d649708ec/src/Security/OauthUserProvider.php#L59-L64

which will dispatch `UserCreatedEvent`, send an email (event subscribers), etc. The context (oauth

[2018-07-20 14:29] ro0NL commented on #14
https://github.com/phpstan/phpstan-symfony

[2018-08-24 16:56] ro0NL opened #57 "Move"

[2018-08-24 16:56] #57 closed

[2018-09-07 13:31] crabnky opened #60 "Multiple email login"
Hi again :)

Is it possible that user has few emails and can log in using any of his emails?
One account - few emails, any can be used for login.

[2018-09-07 16:29] ro0NL commented on #60
Hi @crabnky,

Sure, that's exactly what the demo does. You can login using your primary username (email), or any of the user's secondary emails.

See https://github.com/msgphp/symfony-demo-app/blob/master/src/Entity/User/UserEmail.php + https://github.com/msgphp/symfony-demo-app/blob/master/config/packages/msgphp.php#L24-L26 and you should be good to go :)

See https://github.com/msgphp/symfony-de

[2018-09-08 10:58] ro0NL commented on #54
Given https://github.com/msgphp/msgphp/issues/14

- keep current `/login` bind to `form_login`
- add `/organization/login` bind to guard

the organization login requires to select an organization, and exposes it in the token

[2018-09-08 15:17] #50 closed

[2018-09-08 18:02] #54 closed

[2018-09-10 08:38] crabnky commented on #60
Awesome! :)

Trying to implement it today. :)

Thanks much!

[2018-09-10 08:38] #60 closed

[2018-09-10 15:40] crabnky commented on #60
Hmm, what if I don't need usernames for users?
On login page I can see the query joining the users with usernames table... I don't need this table, I want to log in using email... User do not have usernames at all in system I'm working on...

[2018-09-10 18:02] ro0NL commented on #60
You do, it enforces a unique constraint on all usernames in system.

A username can be e-mail, nickname, etc. So if you only aggregate email  values, then all your usernames will be emails. This is up to you eventually.

But they do have emails, which will represent a username.

[2018-09-10 19:31] ro0NL commented on #60
`user_email` is just a store of (secondary) user email adresses - no context (secondary if you use `credential.email` for a user's primary email).

By configuring `username_lookup` we aggregate (duplicate if you like) username values from arbitrary sources in a single table. This happens automatically in [`UsernameListener`](https://github.com/msgphp/msgphp/blob/master/src/User/Infra/Doctrine/Even

[2018-09-10 19:49] crabnky commented on #60
I see, this makes sense. Thanks for patience and explanation. :)
The problem is that I'm working on existing database, and I'm little limited. :[
I have one table with users and second holding user emails, telephone numbers and faxes.
Of course one user can have many entries in the second table. I have to allow user to log in with any of his emails.

[2018-09-11 12:46] crabnky commented on #60
Hi again...

I want to configure Username class (for example to change the table name), but I'm not allowed...

[2018-09-11 12:59] ro0NL commented on #60
hi @crabnky ,

The `Username` entity is managed by MsgPHP, you don't need to (and you cant) customize it.

E.g. it's not an abstract / mapped super class for you to extend. See https://msgphp.github.io/docs/reference/entities/#entities_2

The `username_lookup` config currently only works with Doctrine entities. And those entities should map the `User` it belongs to.

So it would be something like:

[2018-09-11 13:34] crabnky commented on #60
Yeah, but I have some restrictions while working with the database. This is a pain. For example every table has the 'table_' prefix. Don't ask why. :) Same with id columns.
That's why I wanted to customize `Username` entity.

[2018-09-11 13:39] ro0NL commented on #60
Because you want it to have a custom table name?

[2018-09-11 13:47] crabnky commented on #60
Yes, at least.
Not sure about fields, as I don't have `user` table - I have `contact` table, so the `user_id` is a `contact_id` for me, but this is smaller issue.
Sorry for bothering you with this, maybe I should write my own user provider and login form.

[2018-09-12 07:03] crabnky commented on #60
Huh, thanks! :)

[2018-09-12 07:07] crabnky opened #63 "Invalid service "data_collector.security""
Morning. :)

I just updated from 0.5 to 0.6 and getting this:
`Invalid service "data_collector.security": method "MsgPhp\User\Infra\Security\DataCollector::__construct()" has no argument named "$factory". Check your service definition.`
Did I miss something?

[2018-09-12 07:44] crabnky commented on #63
OK, I had this in `composer.json`:
`"msgphp/user-bundle": "^0.5.0"`
so the user bundle was still in version 0.5.0.
I manually changed this to
`"msgphp/user-bundle": "^0.6.0"`
and now all is fine.
Should the composer update all packages (domain, user, user-bundle) to latest version?

[2018-09-12 08:17] ro0NL commented on #63
Right, let's switch dependencies to use carets :)

https://github.com/msgphp/msgphp/blob/475249a290c803875dfef5a03a4c3fc54a59d8f9/src/UserBundle/composer.json#L21

for now `composer update msgphp/*` is the best :)

[2018-09-17 10:46] crabnky commented on #63
This can be closed I think. :)
Thanks.

[2018-09-17 10:46] #63 closed

[2018-09-17 10:53] ro0NL commented on #63
See https://github.com/msgphp/msgphp/commit/135b64b113133c6bb4f7ce4ee9bd1898cc935e7e

[2018-09-17 11:00] crabnky opened #64 "User emails table can be changed from another application?"
Hi,
Regarding the multiple email login - what if we have another application using the same database, which can modify user emails table? In such case the changes won't be reflected in the username table, right?

[2018-09-17 11:16] ro0NL commented on #64
If you modify the table directly, then no. In that case you can run `bin/console user:synchronize:usernames`.

Otherwise, when using the ORM itself, it's synced by default using the entity listener: https://github.com/msgphp/msgphp/blob/master/src/User/Infra/Doctrine/Event/UsernameListener.php

[2018-09-17 12:03] ro0NL commented on #64
@crabnky yes, that's what https://github.com/msgphp/msgphp/pull/197 is about :) it allows to enable/define the `Username` entity in your app, without configuring `username_lookup` (for Doctrine).

[2018-09-17 12:07] crabnky commented on #64
Uh, the last item in https://github.com/msgphp/msgphp/issues/196 solves my problem I think. I overlooked this, sorry. :( When do you expect this to be released?

[2018-09-17 12:16] ro0NL commented on #64
aiming for it this Wednesday :)

Currently `username_lookup` is only handled by doctrine,  so configuring e.g.
 `msgphp_user.doctrine.sync_usernames: false` would be the same as not configuring the `username_lookup`.

But for future purposes it's possible to enable the username lookup and disable doctrine handling.

[2018-09-19 11:44] crabnky opened #66 "Multiple email: forgot password looks for email in users table..."
Hi,

What about forgot password when using multiple email login feature? I entered the alternate email in the forgot password form and got `Call to a member function getId() on null` error. I checked the queries and I can see that system looks for users table for user with specified credential email, and it gets nothing of course because this email exists in the `username` table...

[2018-09-19 11:50] crabnky opened #67 "msgphp_user.current.email takes always credential email"
When I log in using alternate email I expect this email is stored in msgphp_user.current.email - instead I always get value from credential_email from user table.

[2018-09-19 12:40] ro0NL commented on #67
Well ... the user's primary email doesnt change, regardless the username that was used to login with.

I think we can track the origin username in the security users (stored in the session), e.g. `SecurityUser::getOriginUsername(): string`, or in twig: `{{ app.user.originUsername }}`.

[2018-09-19 12:45] crabnky commented on #67
Uh, I forgot that anything can be used as username, not only email. My bad, sorry.
Good idea with `originUsername`. :)

[2018-09-22 17:57] ro0NL commented on #64
see `0.7@dev`

[2018-09-22 17:57] #64 closed

[2018-09-22 19:26] ro0NL commented on #67
see https://github.com/msgphp/msgphp/pull/204

[2018-09-23 09:01] ro0NL commented on #67
fixed in `^0.7@dev`

[2018-09-23 09:01] #67 closed

[2018-09-23 09:02] ro0NL commented on #66
@crabnky

Do you have a stacktrace?

[2018-09-24 11:06] crabnky commented on #66
Stack Trace:
[code]
![exception](https://user-images.githubusercontent.com/2010148/45948955-411dc780-bffa-11e8-83f3-f2febb8c904b.png)
![logs](https://user-images.githubusercontent.com/2010148/45948960-4713a880-bffa-11e8-80e2-31ed5fd6c144.png)

Let me know if you need enything else.

[2018-09-24 11:34] ro0NL commented on #66
You're not getting an entity from doctrine based on given email, `$user` is null. Not sure why you call the `User` entity a `Contact`.. but that shouldnt matter.

If you want to find a user by either primary or secondary email (or any of the lookups configured under `msgphp_user.username_lookup), you'll need to use `UserRepositoryInterface::findByUsername` or handle the case your self.

See e.g. h

[2018-09-24 13:55] crabnky commented on #66
Uhhhhhh, sure, fool me. :|
Let's assume this issue was never raised. :))
About Contacts - I have to work on existing database and I have limited ability to modify it, so I have to work with already existing solutions. I'm not a fan of many of them, but... it is what it is. :(

[2018-09-24 14:20] #66 closed

[2018-10-23 17:52] crabnky opened #68 "Multiple email - forgot password always sends email to primary email"
Hello,

As far as I can see the forgot password feature sends email to user primary email, regardless of email entered into the form, right? The email entered into forgot password form is used only to find user, then email is sent to users primary email...
This may be confusing, I think.

[2018-10-23 19:09] ro0NL commented on #68
Hi @crabnky

that's correct, and how things work today in the demo-app.

I think we can do the same thing as https://github.com/msgphp/msgphp/pull/204, so we have `SomeUserEvent::$originUsername` and `SomeUserEvent::$user->getCredential()->getUsername()` in all user related events. Feel free to make the change :)

[2018-12-13 22:53] ingHainower commented on #8
Hi.
Can someone help me I'm working on ubuntu 18.04 and symfony4 and I'm trying to connect to a database sql server 2008 r2 hosted on another server, and install all the sqlsrv drivers in ubuntu and add the attributes of the database .

doctrine.yaml

doctrine:
    dbal:
        # configure these for your database server
        driver: 'pdo_sqlsrv'
        server_version: '5.7'
        url: '%env

[2018-12-14 08:05] ro0NL commented on #8
Hi @ingHainower i dont think it's related to Msgphp code (this repo).

I suggest opening an issue at doctrine bundle; regarding named instances.

https://github.com/doctrine/DoctrineBundle

Also see https://github.com/Microsoft/msphpsql/issues/679, but im not familiar with MS sqlsrv,  so this is me guessing :)

[2018-12-20 13:59] #14 closed

[2019-01-03 09:44] ro0NL opened #73 "Switch Eav\Attribute to use string identifiers"
Instead of

[code]

consider

[code]

[2019-01-04 13:04] ro0NL opened #74 "Switch Elasticsearch container"
https://github.com/lando/lando/issues/1114

https://github.com/blacktop/docker-elasticsearch-alpine

[2019-01-05 07:41] #74 closed

[2019-02-09 22:51] smpetrey opened #76 "No alive nodes found in your cluster error"
When running `bin/reinstall` it completes, but my console prints:

[code]

Subsequently, user registration fails with the NoNodesException:

[code]

How do I run/install Elasticsearch to get around this error?

[2019-02-09 23:23] smpetrey commented on #76
FWIW, installing with `lando start` && `lando ssh -c bin/reinstall` — I do not encounter the error, but instead received the following error:
[code]
😞

[2019-02-10 06:28] ro0NL commented on #76
Hi @smpetrey

For the first case, can you try

[code]

If i remember well, i had to run this once. Or at least `grep vm.max_map_count /etc/sysctl.conf` confirms i did :)

With Lando the database should work out of the box :thinking: did you configure the DATABASE_URL correctly, using Lando it should be:

[code]

Let me know if it works an we can get add a small troubleshooting section. Also im usi

[2019-02-10 06:43] ro0NL commented on #76
Having elasticsearch setup is required currently, im assuming you've setup some docker environment to host `elasticsearch:9200`. See also https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html

With Lando it should work :) but the VM setting might still be needed.

I'm investigating how to make elasticsearch optional still :thinking:

[2019-02-10 15:53] smpetrey commented on #76
Oh nice! I forgot to change my `DATABASE_URL` creds back in the `.env` to work with Lando. 👍

[2019-02-11 07:52] ro0NL commented on #76
Great. All good then?

[2019-02-14 09:14] ro0NL commented on #76
i just reproduced the "No alive clusters" on a different machine, and can confirm setting `sysctl -w vm.max_map_count=262144` solves it.

Closing, thanks for reporting.

[2019-02-14 09:14] #76 closed

[2019-02-18 22:36] crabnky commented on #8
Hey @ro0NL,

I upgraded msgphp to 0.9 and the problem is back - same thing as in topic opening post.
After downgrading back to 0.8 all is fine...

[2019-02-19 08:29] ro0NL commented on #8
Hi @crabnky, my bad :) should be fixed in https://github.com/msgphp/msgphp/commit/3eef767bb1128a6f59f4d780b890a0e73005664a

ie. `dev-master` can you confirm?

ill patch release 0.9.1 tomorrow :+1:

[2019-02-19 11:41] crabnky commented on #8
Thanks.
`
  - Updating msgphp/domain (v0.8.0 => v0.9.0): Loading from cache
  - Updating msgphp/user (v0.8.0 => v0.9.0): Loading from cache
  - Removing msgphp/user-bundle (v0.8.0)
  - Installing msgphp/user-bundle (dev-master 600d812): Downloading (100%)
`
and cache clear throws:
`
 Cannot autowire service "MsgPhp\User\Infra\Doctrine\Repository\UserRepository": argument "$usernameClass" of method

[2019-02-19 11:44] ro0NL commented on #8
also update `msgphp/domain` to `dev-master` :)

[2019-02-19 11:56] crabnky commented on #8
updated `msgphp/domain`, and `msgphp/user` as well and now I can see
`Cannot autowire service "MsgPhp\User\Infra\Doctrine\Repository\UsernameRepository": argument "$lookup" of method "__construct()" references cl
  ass "MsgPhp\User\Infra\Doctrine\UsernameLookup" but no such service exists.`

[2019-02-19 12:48] ro0NL commented on #8
my bad, each package must be updated. thus `msgphp/*:^0.9@dev` (aka dev-master)

[2019-02-19 13:06] crabnky commented on #8
Hmmm,
[code]
same thing:
`Cannot autowire service "MsgPhp\User\Infra\Doctrine\Repository\UsernameRepository": argument "$lookup" of method "__construct()" references class "MsgPhp\User\Infra\Doctrine\UsernameLookup" but no such service exists.`

[2019-02-19 13:18] ro0NL commented on #8
can you try clearing all caches? the service is registered here: https://github.com/msgphp/user-bundle/blob/600d812d87f3e114150eecc2d6044637a43f3289/Resources/config/doctrine.php#L20

Which is exactly the commit you've updated to :thinking:

[2019-02-21 08:39] crabnky commented on #8
Still the same. I upgraded to 0.9.1 and still have the same problem - had to switch back to version 0.8.
I have the username_lookup defined in the config/packages/msgphp_user.php file:
[code]
May the issue be caused by this?

[2019-02-21 08:46] ro0NL commented on #8
@crabnky do you have a new stacktrace? Also please join the https://symfony.com/slack channel (#msgphp, or DM `@ro0NL`) :} then we can investigate much faster.

[2019-03-02 10:35] ro0NL opened #78 "Flatten structure"
related to https://github.com/msgphp/msgphp/issues/283

`App\Entity\User\User => App\Entity\User`

[2019-03-02 17:55] ro0NL commented on #8
@crabnky i figured the difference between 0.8 and 0.9 is we now use `EntityManagerInterface::find` whereas before we built a DQL query (e.g. `where id = x`).

I fear there's a difference with the type info between these 2 cases for the ID parameter (as `find()` somewhere builts a DQL query as well). In our case, with a wrapped VO type around the primitive data type, it might bite using find()

If

[2019-03-05 17:45] ro0NL opened #80 "Add Symfony HTTP Responder"
https://github.com/ro0NL/symfony-http-responder

[2019-03-14 11:12] crabnky commented on #8
@ro0NL sorry for not answering so long - i'm sick, will take a look next few days.

[2019-03-17 10:53] kironet opened #85 "Documentation for implementing email confirmation"
Hi,

Can we get a documentation about how to implement User Email Confirmation?
I can see it's implemented in this demo, but it would be nice to have a documentation on how to implement it to freshly installed bundle.

[2019-03-17 11:03] ro0NL commented on #85
Hey @kironet

I was kinda working on this :) https://github.com/msgphp/msgphp/issues/228 so the default case can be generated. However, for sending e-mail im not sure still ... as we introduce Swiftmailer&co with it. Perhaps wait for the official Symfony Mailer component to arrive first. (AFAIK it'll happen soonish).

Perhaps it's better to add some docs about the subject, see https://github.com/m

[2019-03-27 13:36] ro0NL commented on #78
https://github.com/symfony/recipes-contrib/pull/641

[2019-03-29 13:54] #78 closed

[2019-05-29 19:01] divined commented on #24
One year left (

[2019-05-29 19:08] ro0NL commented on #24
:D @divined personally i gave up on EasyAdmin, moving forward with React Admin +ApiPlatform: #59

i need to merge a working example for sure :)

[2019-06-19 18:31] tacman opened #106 "Demo Site is down"
https://msgphp.lndo.site doesn't connect at all

http://msgphp.lndo.site/ redis fails to connect

[2019-06-19 18:40] ro0NL commented on #106
Hi @tacman,

The `.lando.site` domain is part of the local development workflow when using Lando: https://docs.devwithlando.io

So it's not intended to work remote (unless one shares their local setup publicly using https://docs.devwithlando.io/cli/share.html)

I removed the link from github, as it was mostly a personal shortcut (or for anyone using Lando).

The demo app doesnt use redis, so im no

[2019-06-19 18:40] #106 closed

[2019-06-19 18:41] ro0NL commented on #106
If you intended to run it locally, `lando rebuild` should work out-of-the-box.

[2019-06-26 20:43] ro0NL opened #107 "Switch to Docker"
https://github.com/ro0NL/symfony-docker

[2019-07-04 07:25] ro0NL commented on #17
closing in favor of https://github.com/msgphp/msgphp/issues/334

[2019-07-04 07:25] #17 closed

[2019-07-05 14:26] tacman opened #108 "Could not scan for classes inside "var/phpunit/phpunit-7.5/src/""
When attempting to install,

    composer create-project msgphp/symfony-demo-app

I get this error:

    Could not scan for classes inside "var/phpunit/phpunit-7.5/src/" which does not appear to be a file nor a folder

![image](https://user-images.githubusercontent.com/619585/60728700-f62ccb00-9f0e-11e9-834f-aa2749c4edef.png)

[2019-07-05 14:27] tacman commented on #108
Removing the reference to that directory in composer.json fixes the problem, but I'm not sure it can be removed in composer.json without breaking something else.

[2019-07-05 14:51] #108 closed

[2019-07-08 13:40] tacman opened #111 "Feature Request: Invitations"
FOSUserBundle supports invitations, any chance user-bundle could add similar support, or at least documentation on how to do so?

https://symfony.com/doc/current/bundles/FOSUserBundle/adding_invitation_registration.html

I'm migrating a subscription application, and am using this opportunity to purge inactive users. My idea is to send existing subscribers an invitation, requiring them to re-regist

[2019-07-14 06:52] #3 closed

[2019-07-14 06:52] #107 closed

[2019-07-14 06:59] ro0NL opened #112 "Add docker elasticsearch container / fix JWT"
bump ES7

https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html

[code]

[2019-07-16 07:10] #12 closed

[2019-07-21 06:03] #112 closed

[2019-08-01 19:23] tacman opened #115 "Shell for user-bundle demo with bootstrap and jquery"
Although my landing-bundle isn't complete yet, here are steps that will create a basic website with menus and a login form, using the msgphp user-bundle:

    symfony new --full my-app && cd my-app
    composer config extra.symfony.allow-contrib true

    composer req survos/landing-bundle
    bin/console survos:prepare --no-interaction
    composer req maker --dev
    composer req messenger msgph

[2019-08-03 08:45] ro0NL commented on #115
hey @tacman very nice :+1: i just released 0.13 so you can move forward :)

im closing here (ive bookmarked your project), feel free to ask any help (e.g. Slack) concerning msgphp integration.

If you have some tutorial blog post about msgphp (integration), im happy to share it in the readme file here.

keep up the good work :+1:

[2019-08-03 08:45] #115 closed

[2019-08-06 13:13] tacman opened #117 "Document Social Media Login"
I'm a little confused about how to configure logging in with Google and Facebook.

If I deploy this on Heroku, can you help with the configuration?  I realize this might be more a HWIO issue than msgphp/user-bundle, but the endpoints (on the FB/Google app setup pages) and yaml file (security, etc.) are confusing.

Or if you add a link to an article / tutorial about this.

[2019-08-06 13:25] ro0NL commented on #117
Sorry, definitively a HWIO issue :} or at least this issue is way to abstract.

in general, i followed the docs from https://github.com/hwi/HWIOAuthBundle/blob/master/Resources/doc/resource_owners/google.md + https://github.com/hwi/HWIOAuthBundle/blob/master/Resources/doc/3-configuring_the_security_layer.md

i use my personal account at https://console.developers.google.com/ to manage the client k

[2019-08-06 13:25] #117 closed

[2019-08-26 06:26] #111 closed

[2019-11-27 17:08] Pictor13 commented on #24
Hey @ro0NL would you mention specifically why did you give up on EasyAdmin?

-----
Because... I am struggling with its structure as well.
Basic CRUD is great with it, but some type of extendibility is simply painful and requires quite some overriding; and it's tough to implement DDD practices: strict separation of concerns & immutability in particular.

[2019-11-27 18:43] ro0NL commented on #24
I find that some type of extendibility is simply painful and requires quite some overriding; and it's tough to implement DDD practices: strict separation of concerns & immutability in particular.

:grin: this.

Today, im using APIplatform + separate Vue based frontend. I think REST based JSON+LD / GraphQL is today's practice. Thus separation of concerns out-of-the-box.

Even with API platform im e

[2020-01-11 08:48] ro0NL opened #119 "Use API Platform + SF Messenger dedicated"
https://api-platform.com/docs/core/messenger/#dispatching-a-resource-through-the-message-bus

split the write ops in https://github.com/msgphp/symfony-demo-app/blob/master/src/Api/Projection/UserProjection.php in dedicated API resources

change many controllers for endpoints to a single a message handler, serving as a proxy (route all projections as such). For generic purpose it could leverage a `

[2020-01-15 19:01] ro0NL commented on #24
closing as per https://github.com/msgphp/symfony-demo-app/pull/59#issuecomment-574803359

im focusing on the backend/API part anyway.

[2020-01-15 19:01] #24 closed

[2020-01-15 19:07] ro0NL opened #120 "Ditch src/DataFixtures in favor of yaml fixtures"
https://github.com/hautelook/AliceBundle

[2020-02-21 16:22] ro0NL opened #121 "Implement ongr-io/ElasticsearchBundle"
https://github.com/ongr-io/ElasticsearchBundle

maybe support from `msgphp/domain`

[2020-11-17 15:43] jkwakman opened #123 "Foreign key error on staging servers"
Dear Roland,

On our staging servers we are hitting the following error when executing doctrine:schema:update --dump-sql:

In AbstractPlatform.php line 2597:
Incomplete definition. 'foreign' required.

This only happens after a cache is build. If I remove the cache I am allowed to do a doctrine:schema:update --dump-sql. After a cache is build the error appears.

**AbstractPlatform.php**
[code]

Th

[2020-11-18 09:36] jkwakman commented on #123
Strange error disappeared after removing cache and reboot apache. Sorry for the inconvenience.

Keep up the good work!

Kind regards,

Jack Kwakman

[2020-11-18 09:36] #123 closed

[2021-08-20 09:32] #9 closed

[2021-08-20 09:32] #16 closed

[2021-08-20 09:32] #27 closed

[2021-08-20 09:32] #30 closed

[2021-08-20 09:32] #31 closed

[2021-08-20 09:32] #56 closed

[2021-08-20 09:32] #68 closed

[2021-08-20 09:32] #73 closed

[2021-08-20 09:32] #80 closed

[2021-08-20 09:32] #85 closed

[2021-08-20 09:32] #119 closed

[2021-08-20 09:32] #120 closed

[2021-08-20 09:32] #121 closed